# Flask Stuff
Flask
Flask-Cors
python-dotenv
gevent

# Image Handling
numpy
opencv-python
imutils

# Formatting and Basic Tools
coloredlogs
pkg-resources
PyYAML
requests
pylint
flake8
git+https://github.com/GooeeIOT/pyfmt.git
