{% extends "base.html" %} {% block content %}

<div id="content-404">

  <div class="row">
    <div id="ey-yo-foo" class="col">
      <div id="error_message">
        Ey yo foo ... you's in the wrooooong place dawg ...<br />Ain't
        nothin' round hrrr
      </div>
    </div>
  </div>

  <div class="row">
    <div id="fo-oh-fo" class="col">
      <div id="error_message">Fo-Oh-Fo!</div>
    </div>
  </div>

  <div class="row">
    <div id="error-logo" class="col">
      <img src="../static/images/dead.png" height="120px" alt="Dead Face" />
    </div>
  </div>

  <div class="row">
    <div class="col btn-homepage">
      <a href="/index">
        <button
          class="btn-controls waves-effect waves-light btn green lighten-1 z-depth-3"
          id="btn-slideshow-on"
          title="Turns slideshow on"
          >Head back to tha crib
        </button>
      </a>
    </div>
  </div>


</div>

{% endblock %}
