{% extends "base.html" %} {% block content %}

<div id="index-content">

  <div class="row">
    <div class="col s6 m6 l6">
      <a
        class="btn-controls waves-effect waves-light btn green lighten-1 z-depth-3"
        id="btn-slideshow-on"
        title="Turns slideshow on"
        onclick="start_slideshow()"
        >Start</a
      >
    </div>
    <div class="col s6 m6 l6">
      <a
        class="btn-controls waves-effect waves-light btn green lighten-1 z-depth-3"
        id="btn-slideshow-off"
        title="Turns slideshow off"
        onclick="stop_slideshow()"
        >Stop</a
      >
    </div>
  </div>


  <hr />


  <div class="row">
    <div class="col s6 m6 l6">
      <p id="img-last-filepath">{{ url_for('images', filename='DSC06371-Edit.jpeg')}}</p>
    </div>
    <div class="col s6 m6 l6">
      <p id="img-now-filepath">{{ url_for('images', filename='DSC06371-Edit.jpeg')}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col s6 m6 l6">
      <img
        id="img-last-preview"
        class="img-preview"
        src="{{ url_for('images', filename='DSC05177.JPG')}}"
        alt="Previous Image"
        height="300"
      />
    </div>
    <div class="col s6 m6 l6">
      <img
        id="img-now-preview"
        class="img-preview"
        src="{{ url_for('images', filename='DSC05177.JPG')}}"
        alt="Current Image"
        height="300"
      />
    </div>
  </div>



</div>

{% endblock %}
